*{
    margin: 0;
    text-align: center;
}

body{
    background-image: url("loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#canonLogo{
    text-align: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
}

#logoBg{
    background-color: black;
    height: 20vh;
}

#logbox{
    justify-content: center;
}